# Part Two EDA

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# loading the data from both dataframes
df1 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df2 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
print(len(df1), len(df2))

1209 1293

In [3]:
# concatenating both of the dataframes and showing the lenght to verify
df = pd.concat([df1,df2])
len(df)

2502


## 1.How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [6]:
# creating financial filter
bud = df['budget'] > 0
rev = df['revenue'] > 0
df_fin = df[rev | bud]
df_fin
print(f"There are {len(df_fin)} movies that had either budget or revenue that was greater than zero.")

There are 624 movies that had either budget or revenue that was greater than zero.


## 2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [7]:
# value counts for each certification category
df_fin['certification'].value_counts()

R        228
PG-13    130
PG        36
NR        17
G         14
Name: certification, dtype: int64

## 3. What is the average revenue per certification category?

In [8]:
# using groupby to calculate mean of each cert group
df_fin.groupby(['certification'])['revenue'].mean()

certification
G        1.237085e+08
NR       8.887619e+06
PG       1.092184e+08
PG-13    9.970084e+07
R        3.334715e+07
Name: revenue, dtype: float64

## 4. What is the average budget per certification category?

In [9]:

# using groupby to calculate mean of each cert group
df_fin.groupby(['certification'])['budget'].mean()

certification
G        4.085714e+07
NR       6.300006e+06
PG       4.372917e+07
PG-13    4.348391e+07
R        1.982239e+07
Name: budget, dtype: float64

In [10]:
# saving the combined dataframe with all data 
df.to_csv("Data/tmdb_results_combined.csv.gz", compression='gzip', index=False)